# DB Configuration
DB_URL=jdbc:postgresql://localhost:5432/postgres
DB_USERNAME=postgres
DB_PASSWORD=yourpassword

# JWT Security (HS512 key - Base64 encoded)
# To generate a new key on Linux/MacOS: openssl rand -base64 64
JWT_SECRET=Uml6KzY0Uzh6Sks0SktHSktHSktHSktHSktHSktHSktHSktHSktHSktHSktHSktHSktHSktHSktHSktHSktHSktHSktHSktHCg==
JWT_ACCESS_EXPIRATION=900000 # 15 minutes in ms
JWT_REFRESH_EXPIRATION=604800000 # 7 days in ms
